Human Resources Data Cleaning

In [2]:
# Importing Python libraries for Data Analysis.

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# Importing Human Resources data into Python.

In [5]:
employees = pd.read_excel("Human Resources Data.xlsx")

In [6]:
# Reading first five rows of the dataframe.

In [7]:
employees.head()

,Attrition,Business Travel,CF_age band,CF_attrition label,Department,Education Field,emp no,Employee Number,Gender,Job Role,...,Performance Rating,Relationship Satisfaction,Standard Hours,Stock Option Level,Total Working Years,Work Life Balance,Years At Company,Years In Current Role,Years Since Last Promotion,Years With Curr Manager
0,Yes,Travel_Rarely,35 - 44,Ex-Employees,Sales,Life Sciences,STAFF-1,1,Female,Sales Executive,...,3,1,80,0,8,1,6,4,0,5
1,No,Travel_Frequently,45 - 54,Current Employees,R&D,Life Sciences,STAFF-2,2,Male,Research Scientist,...,4,4,80,1,10,3,10,7,1,7
2,Yes,Travel_Rarely,35 - 44,Ex-Employees,R&D,Other,STAFF-4,4,Male,Laboratory Technician,...,3,2,80,0,7,3,0,0,0,0
3,No,Travel_Frequently,25 - 34,Current Employees,R&D,Life Sciences,STAFF-5,5,Female,Research Scientist,...,3,3,80,0,8,3,8,7,3,0
4,No,Travel_Rarely,25 - 34,Current Employees,R&D,Medical,STAFF-7,7,Male,Laboratory Technician,...,3,4,80,1,6,3,2,2,2,2

In [8]:
# Getting informations on the columns (data types and non-null values).

In [19]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 39 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Attrition                   1470 non-null   object
 1   Business Travel             1470 non-null   object
 2   CF_age band                 1470 non-null   object
 3   CF_attrition label          1470 non-null   object
 4   Department                  1470 non-null   object
 5   Education Field             1470 non-null   object
 6   emp no                      1470 non-null   object
 7   Employee Number             1470 non-null   int64
 8   Gender                      1470 non-null   object
 9   Job Role                    1470 non-null   object
 10  Marital Status              1470 non-null   object
 11  Over Time                   1470 non-null   object
 12  Over18                      1470 non-null   object
 13  Training Times Last Year    1470 non-null   int64
 14  Age                         1470 non-null   int64
 15  CF_current Employee         1470 non-null   int64
 16  Daily Rate                  1470 non-null   int64
 17  Distance From Home          1470 non-null   int64
 18  Education                   1470 non-null   object
 19  Employee Count              1470 non-null   int64
 20  Environment Satisfaction    1470 non-null   int64
 21  Hourly Rate                 1470 non-null   int64
 22  Job Involvement             1470 non-null   int64
 23  Job Level                   1470 non-null   int64
 24  Job Satisfaction            1470 non-null   int64
 25  Monthly Income              1470 non-null   int64
 26  Monthly Rate                1470 non-null   int64
 27  Num Companies Worked        1470 non-null   int64
 28  Percent Salary Hike         1470 non-null   int64
 29  Performance Rating          1470 non-null   int64
 30  Relationship Satisfaction   1470 non-null   int64
 31  Standard Hours              1470 non-null   int64
 32  Stock Option Level          1470 non-null   int64
 33  Total Working Years         1470 non-null   int64
 34  Work Life Balance           1470 non-null   int64
 35  Years At Company            1470 non-null   int64
 36  Years In Current Role       1470 non-null   int64
 37  Years Since Last Promotion  1470 non-null   int64
 38  Years With Curr Manager     1470 non-null   int64
dtypes: int64(26), object(13)
memory usage: 448.0+ KB

In [29]:
#1. Removing duplicate rows from dataframe.

In [31]:
employees.columns

Index(['Attrition', 'Business Travel', 'CF_age band', 'CF_attrition label',
       'Department', 'Education Field', 'emp no', 'Employee Number', 'Gender',
       'Job Role', 'Marital Status', 'Over Time', 'Over18',
       'Training Times Last Year', 'Age', 'CF_current Employee', 'Daily Rate',
       'Distance From Home', 'Education', 'Employee Count',
       'Environment Satisfaction', 'Hourly Rate', 'Job Involvement',
       'Job Level', 'Job Satisfaction', 'Monthly Income', 'Monthly Rate',
       'Num Companies Worked', 'Percent Salary Hike', 'Performance Rating',
       'Relationship Satisfaction', 'Standard Hours', 'Stock Option Level',
       'Total Working Years', 'Work Life Balance', 'Years At Company',
       'Years In Current Role', 'Years Since Last Promotion',
       'Years With Curr Manager'],
      dtype='object')

In [45]:
employees.duplicated().sum()

0

In [47]:
employees.duplicated("Employee Number").sum()

0

In [49]:
# no duplicates

In [51]:
#2. data formatting & standardisation.